
.change_data_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change_data_form label{
    text-align: left;
    font-size: 1.5vw;
}
.change_data_form h1{
    font-size: 3vw;
}

.change_data_button_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:30%;
    margin: 2% 0;
}

#cancel_change{
    font-size: 2vw;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #44489F;
    color:#44489F;
}

#submit_change{
    font-size: 2vw;
    border-radius: 16px;
    padding: 2% 4%;
    background-color: #44489F;
    border: none;
    color:white;
}


.change_playlist_outer{
    position: absolute;
    background-color: #44499f79;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    z-index: 98;
}
.change_pl_data_wrapper{
    position: relative;
    width:40vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 1% 2%;
    border-radius: 16px;
}

.add_song_wrapper{
    position: relative;
    width:40vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 2% 4%;
    border-radius: 16px;
}

#file-upload {
    display: none;
}

.add_song_inputs{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.playlist_change_image{
    width:15vw;
    height:15vw;
    margin: auto;
}

.song_image_label_wrapper{
    position: relative;
    width:15vw;
    height:15vw;
    margin: auto;
}

.add_song_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}



.playlist_image_upload_svg{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:3vw;
    height:auto;
    opacity: 0;
}

.song_image_label_wrapper:hover .playlist_change_image{
    opacity: 0.5;
}

.song_image_label_wrapper:hover .playlist_image_upload_svg{
    opacity: 1;
}

.change_exit{
    position: absolute;
    left:90%;
    top:5%;
    width:2vw;
    height:auto;
    color:grey
}

.change_pl_data_form{
    width:100%;
}

.signing_input_playlist{
    border-radius: 16px;
    padding: 5%;
    font-size: 1vw;
    width:100%;
}

.form_row_playlist{
    width:70%;
    margin: auto;
}

.playlist_change_label{
    text-align: left;
    font-size: 1.5vw;
    margin: 2% 0%;
}


.song_audio_label_wrapper{
    display: flex;
    flex-direction: row;
    background-color: #44489F;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 16px;
}
.song_audio_upload_name{
    font-size:0.8vw;
}
.song_audio_upload_svg{
    width:2vw;
    height:auto
}
#audio-upload{
    display: none;
}

.add_song_media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
}