.dd-wrapper{
    position: relative;
}
.dd-list{
    position: absolute;
    top: 110%;
    left:0%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:120%;
    align-items:center;
}

.dd-header-title{
    color: #44489F;
    border-bottom: 2px solid #44489F;
    border-radius: 16px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    width:130%;
    transition: all ease-in-out 0.1s;
}

.dd-header-title:hover{
    color:white;
    background-color: #44489F;
}

.dd-header-title p{
    font-size: 1vw;
    text-align: center;
}
.dd-wrapper{
    width:20%
}

.dd-list-item{
    background-color: white;
    padding: 3%;
    border-radius: 16px;
    color:black;
    width:100%;
    border: none;
    margin-bottom: 3%;
}

.dd-list-item p{
    margin: 0;
    font-size: 0.8vw;
}