.log_in_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height:50vh;
    padding-top: 11%;
}

.log_in_wrapper h1{
    font-size: 4vw;
    text-align: center;
    margin-top: 0;
}
.log_in_wrapper p{
    height:3vh;
    font-size: 1vw;
    text-align: end;
    color:red;
    margin:0 0 0 0;
}
.log_in_wrapper div{
    display: flex;
    flex-direction: column;
    width:25vw;
    position: relative;
}
.login_input{
    padding: 3% 6%;
    border-radius: 16px;
    border:none;
    font-size: 1.5vw;
}
.login_input:focus{
    outline: none;
    box-shadow: 0 0 2px 5px #44489F;
}
.log_in_wrapper label{
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.login_submit_button #submit{
    padding: 3% 8%;
    font-size: 2vw;
    background-color: white;
    color: black;
    border: none;
    border-radius: 16px;
    margin-top: 10%;
    width:fit-content;
    align-items: center;
}

@media (orientation:portrait) {
    .log_in_wrapper{
        padding-top: 30%;
    }
    .log_in_wrapper h1{
        font-size: 7vw;
    }
    .log_in_wrapper p{
        font-size: 2vw;
    }
    .login_submit_button #submit{
        padding: 6% 12%;
        font-size: 5vw;
        margin-top: 10%;
    }
    .log_in_wrapper div{
        display: flex;
        flex-direction: column;
        width:50vw;
        position: relative;
    }
    .log_in_wrapper label{
        font-size: 6vw;
        margin-bottom: 2%;
    }
    .login_input{
        padding: 2% 4%;
        font-size:4vw;
    }
}