.results_list{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    text-align: left;
}
.result_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1% 0;
    border-bottom:1px solid #44489F;
    align-items: center;
}
.result_div:hover{
    background-color: #44499faf;
}

.search_result_image_wrapper{
    position: relative;
}
.search_play{
    display: none;
}

.result_div:hover .search_play{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:2vw;
    height:auto;
}
.result_div:hover .search_result_image_wrapper img{
    opacity: 0.5;
}

.result_data_wrapper{
    display: flex;
    flex-direction: row;
}

.result_data_wrapper *{
    margin-bottom: 0;
}

.result_image{
    width:5vw;
    height: 5vw;
    object-fit: cover;
}
.result_data{
    width:60%;
    text-decoration: none;
}
.result_artist{
    margin-left: 5%;
    font-size: 1vw;
}
.result_title{
    font-size: 3vw;
    margin: 0;
    color:white;
}
.result_album{
    width:20%
}
.result_type{
    font-size: 1vw;
    color:grey
}