
.SongCard{
    background: conic-gradient(#9696962f,#9696962f, #9696962f,#44499f3a,#44499f73, #44499fab,#44499f73,#44499f3a,#9696962f, #9696962f,#9696962f,#9696962f,#9696962f);
    padding: 1%;
    text-align: left;
    width:13vw;
    height:19vw;
    position: relative;
    transition: all ease-in-out 0.3s;
    color:white;
    text-decoration: none;
}
.SongCard:hover{
    background-color: #44499f3a;
}

.song_card_title{
    background-color: transparent;
    font-size: 1.5vw;
    width:100%;
    margin: 0;
    margin-top: 3%;
    color:white;
    text-decoration: none;
}

.song_card_artist{
    background-color: transparent;
    font-size: 1vw;
    margin: 2% 0;
    color:white;
    text-decoration: none;
}
.songcard_img{
    height:13vw;
    width:13vw
}

.SongCard img{
    width: 100%;
}

.song_card_play{
    width:3vw;
    height:auto;
    position: absolute;
    left:75%;
    bottom: 5%;
    margin: 0;
}
.do_animation{
    animation: player 0.5s;
}

@keyframes player {
    0%{
        transform: translateY(30%);
    }
    100%{
        transform: translateY(0%);
    }
}