@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');


.App{
  text-align: center;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 13% auto 14%;
  gap: 3%;
  color:white;
  font-family: 'Istok Web', sans-serif;
  background-color: black;
  height:100vh;
}